body {
  font-family: "Open sans", sans-serif;
  height: 100%;
  border: 5px;
  background-color: mediumaquamarine;
}

section {
  padding: 30px;
  background-color: white;
}

ul {
  display: flex;
  list-style: none;
  padding-left: 0px;
}

.fa-solid {
  margin: 0px 10px;
}

.topbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 40px 0px;
  font-size: 30px;
  font-weight: 600;
}

.nowplaying {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 40px 0px;
}

.nowplaying_img {
  display: flex;
  width: 150px;
  height: 150px;
  border: 4px solid black;
  border-radius: 20px;
  background-color: rgb(250, 189, 16);
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
}

.nowplaying_song {
  width: 50%;
  margin-left: 20px;
}

.nowplaying_song_main {
  font-size: 50px;
  font-weight: 600;
}

.nowplaying_song_sub {
  font-size: 20px;
  font-weight: 400;
}

.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0px;
}

.button_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
  border: 2px solid;
  border-radius: 10px;
  font-size: 30px;
  border-width: 2px 2px 5px 2px;
}

.button_circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 3px solid;
  font-size: 30px;
  border-radius: 50%;
  border-width: 2px 2px 5px 2px;
}

.listbox {
  display: flex;
  align-items: center;
  margin: 40px 0px;
}

.listbox_color {
  height: 50px;
  width: 50px;
  border: 3px solid;
  border-radius: 10px;
  margin-right: 20px;
}

.listbox_song_main {
  font-size: 30px;
  font-weight: 600;
}

.listbox_song_sub {
  font-size: 20px;
  font-weight: 100;
}

.listbox_color:nth-child(1) {
  background-color: tomato;
}
.listbox_color:nth-child(2) {
  background-color: pink;
}
.listbox_color:nth-child(3) {
  background-color: blue;
}
.listbox_color:nth-child(4) {
  background-color: mediumaquamarine;
}
